# See https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = tab
# indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
# max_line_length = 80
spelling_language = en-US

[{*.{el,lisp,scm,rkt,fnl,clj,cljs,cljr,cljc,cljd,edn,elm,ml,mli},.sbclrc}]
indent_style = space
[*.{py,fish,zig,rs,kt,kts,ktm}]
indent_style = space
indent_size = 4

[*.{roc,nix,json,yml,kdl,swift,lua,go,org}]
indent_style = unset

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
